{% extends "layout.html" %}

{% set title = "Application successful." %}

{% block title %}
{{ config.USER_APP_NAME }}
{% endblock %}

{% block main_content %}

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-7 ">
  <h3>{{ title }}</h3>
  <br>

  Your loan application has been submitted successfully for processing.
  <br>
  You will receive an email shortly to confirm this action.
  <br>
  <br>
  <a href="{{ url_for('main.dashboard') }}">
    <input type="button" class="btn btn-primary" name=ok value="Ok">
	</a>

</div>

{% endblock %}
